.main {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
  }
  
  .grid {
    display: grid;
    background-color: var(--background-color);
    grid-template-rows: 50px 1fr;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  .canvasContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color: var(--background-color);
    overflow: auto;
    overscroll-behavior: none;
    /* scrollbar-gutter: stable;  */
  }

