:root {
  /* --background-color: #f9fbfd; google doc's bg color */
  --background-color: #f9fbfd; /* bg color for test */
  --gray-ladder1: #D3E1F0;
  --gray-ladder2: #ADC7E3;
  --lightBlue: #b9e3ff;
  --buttonBlue1: #47b4ff;
}

body, html {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
 