.main {
  background-color: var(--background-color);
}

.canvasContainer {
  background-color: var(--background-color);
  padding: 30px 25px 30px 25px;
}

.drawingCanvas {
  /* A3 paper ratio as the default*/
  width: 953px;
  height: 674px;
  border: 1px solid red;
  background-color: white;
  margin: 0 auto;
  display: block;
}