.canvasContainer {
    background-color: var(--background-color);
    padding: 30px 25px;
    position: relative;
  }
  
  .liveCanvas {
    position: absolute;
    width: 674px;
    height: 953px;
    border: 1px solid #ccc;
    background-color: transparent;
    margin: 0 auto;
    z-index: 100;
  }

  .staticCanvas {
    width: 674px;
    height: 953px;
    border: 1px solid #ccc;
    background-color: white;
    margin: 0 auto;
  }