.row {
  display: flex;  
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  overflow: hidden;
}

.leftSection {
  display: flex; 
  flex: 1;
  border: none;
  height: 100%;
  background-color: transparent;
}

.middleSection{
  display: flex; 
  flex-direction: column;
  border: 1px solid lightgray;
  flex: 1;
  height: 100%;
  background-color: transparent;
}
  
.rightSection{
  display: flex; 
  justify-content: right;
  border: none;
  height: 100%;
  width: 140px;
  background-color: transparent;
}

/* round corner square button */
.buttonType1 {
  background-color: var(--lightBlue);
  border: none;
  border-radius: 15px;
  width: 50px;
  height: auto;
  padding: 7px 10px 7px 10px;
  transition: background-color 0.3s;
  color: black;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.buttonType1:hover {
  scale: 1.05;
}
.buttonType1:active {
  opacity: 0.6;
}