.row {
  display: flex;  
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  overflow: hidden;
}

.leftSection {
  display: flex; 
  flex: 1;
  border: none;
  height: 100%;
  background-color: transparent;
}

.middleSection{
  display: flex; 
  flex-direction: column;
  border: 1px solid lightgray;
  flex: 1;
  height: 100%;
  background-color: transparent;
}
  
.rightSection{
  display: flex; 
  justify-content: right;
  border: none;
  height: 100%;
  width: 140px;
  background-color: transparent;
}