.headerOuterBox {
  background-color: var(--background-color);
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: black;
  overflow: hidden;
}

.row1 {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
  border: none; 
  padding: 15px;
  margin-bottom: 5px;
}

.leftSection1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  background-color: var(--background-color);
  margin-right: 10px;
  overflow: hidden;
}

.middleSection1{
  display: flex; 
  flex-direction: column;
  align-items: center;
  border: none;
  flex: 1;
  height: 100%;
  background-color: var(--background-color);
}

.rightSection1{
  display: flex; 
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 250px;
  background-color: transparent;
}

.fileNameBox {
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  height: 60%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.docMenuBar {
  display: flex;
  border: none;
  height: 40%;
  width: 100%;
}

.online {
  display: flex;
  flex-direction: row;
  color: green;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.online:active {
  opacity: 0.6;
}

.onlinePannel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 85px;
  right: 85px;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 100;
  overflow-y: auto;
}

.shareButton {
  width: 40px;
  background-color: var(--lightBlue);
  color: black;
  padding: 10px 20px 12px 18px;  
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
  user-select: none;
}
.shareButton:hover {
  background-color: #47b4ff;
  color: black;
}
.shareButton:active {
  opacity: 0.6;
}

.shareWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 150px;
  right: 32%;
  width: 33%;
  min-width: 300px;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 100;
  overflow-y: auto;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  border: 1px solid gray;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

/* ------------------- styles for button ---------------------- */

/* text only clickable "button" */
.buttonType0 {
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  margin-right: 15px;
}
.buttonType0:hover {
  scale: 1.1;
  text-decoration-line: underline;
}
.buttonType0:active {
  opacity: 0.6;
}

/* round corner square button */
.buttonType1 {
  background-color: var(--lightBlue);
  border: none;
  border-radius: 15px;
  width: 50px;
  height: auto;
  padding: 7px 10px 7px 10px;
  transition: background-color 0.3s;
  color: black;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.buttonType1:hover {
  scale: 1.05;
}
.buttonType1:active {
  opacity: 0.6;
}
