.row {
  display: flex;  
  flex-direction: row;
  border: none;
  background-color: var(--gray-ladder1);
  border-radius: 20px;
  padding: 4px 6px;
  margin: 10px;
  overflow: hidden;
}

.leftSection {
  display: flex; 
  flex: 1;
  border: none;
  height: 100%;
  background-color: transparent;
}

.middleSection{
  display: flex; 
  flex-direction: column;
  /* border: 1px solid lightgray; */
  flex: 1;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.rightSection{
  display: flex; 
  justify-content: right;
  border: none;
  height: 100%;
  width: 140px;
  background-color: transparent;
}